

<%- include ("../../views/_header") %>
<h1>add information</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                        <form action="/ce611998018/save/" method="POST">

                        <div class="form-group">
                        SCIT611998018 <input type="text"
                        name="scit611998018"
                        placeholder=""
                        class="form-control">
                        </div>

                        <div class="form-group">
                        MIROT611998018 <input type="text"
                        name="mirot611998018"
                        placeholder=""
                        class="form-control">
                        </div>



                        ID_CE611998025 <select class ='form-control' name='ID_CE611998025'>
                            <option value=""> กรุณาเลือก </option>
                            <% if(data) { %>
                            <% for(var i=0; i<data.length; i++){ %>
                              <option value="<%= data[i].id %>">
                                <%= data[i].SCIT611998025 %>
                                </option>
                            <%}%>
                          <%}%>
                       </select>    <div class="row mt-3"> </div>


                          ID_CE611998032 <select class ='form-control' name='ID_CE611998032'>
                              <option value=""> กรุณาเลือก </option>
                              <% if(data1) { %>
                              <% for(var i=0; i<data1.length; i++){ %>
                                <option value="<%= data1[i].id %>">
                                  <%= data1[i].SCIT611998032 %>
                                  </option>
                              <%}%>
                            <%}%>
                          </select><br></br>

                        <a href="/ce611998018" class="btn btn-primary"> กลับ </a>
                        <button type="submit"
                        class="btn btn-success">submit</button>
                        </form>

                </div>
            </div>
        </div>
</div>
<style>
    h1{
          position: relative;
          left: 30%;
          top: 20px;
    }
</style>
<%- include ("../../views/_footer") %>
