<%- include ("../../views/_header") %>
<h1>update information</h1>
<% JSON.stringify(data1) %>
<% JSON.stringify(data2) %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                        <form action="/ce611998018/update/<%= data1.id %>" method="POST">

                        <div class="form-group">
                        SCIT611998018 <input type="text"
                        name="scit611998018"
                        value="<%= data1.SCIT611998018 %>"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        MIROT611998039 <input type="text"
                        name="mirot611998018"
                        value="<%= data1.MIROT611998018 %>"
                        class="form-control">
                        </div>


                        ID_CE611998025 <select class ='form-control' name='ID_CE611998025'>
                            <option value=""> กรุณาเลือก </option>
                            <% if(data2) { %>
                            <% for(var i=0; i<data2.length; i++){ %>
                              <option value="<%= data2[i].id %>"
                                <% if(data2[i].id==data1.ID_CE611998025) { %> selected <% } %> >
                                <%= data2[i].SCIT611998025 %>
                                </option>
                            <%}%>
                          <%}%>
                  </select> <div class="row mt-3"> </div>

                          ID_CE611998032 <select class ='form-control' name='ID_CE611998032'>
                              <option value=""> กรุณาเลือก </option>
                              <% if(data3) { %>
                              <% for(var i=0; i<data3.length; i++){ %>
                                <option value="<%= data3[i].id %>"
                                  <% if(data3[i].id==data1.ID_CE611998032) { %> selected <% } %> >
                                  <%= data3[i].SCIT611998032 %>
                                  </option>
                              <%}%>
                            <%}%>
                          </select><br></br>

                        <a href="/ce611998018" class="btn btn-primary"> กลับ </a>
                        <button type="submit"
                        class="btn btn-success">Save</button>
                        </form>

                </div>
            </div>
        </div>
</div>
<style>
    h1{
          position: relative;
          left: 28%;
          top: 20px;
    }
</style>

<%- include ("../../views/_footer") %>
