<%- include ("../../views/_header") %>
<h1>add information</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                        <form action="/ce611998025/save/" method="POST">

                        <div class="form-group">
                        SCIT611998025 <input type="text"
                        name="SCIT611998025"
                        placeholder="Varchar"
                        class="form-control">
                        </div>

                        <div class="form-group">
                         MIROT611998025 <input type="text"
                        name="MIROT611998025"
                        placeholder="float"
                        class="form-control">
                        </div>


                      ID_CE611998032 <select class ='form-control' name='ID_CE611998032'>
                            <option value=""> กรุณาเรียก </option>
                            <% if(data1) { %>
                            <% for(var i=0; i<data1.length; i++){ %>
                              <option value="<%= data1[i].id %>">
                                <%= data1[i].SCIT611998032 %>
                                </option>
                            <%}%>
                          <%}%>
                          </select><div class="row mt-3"> </div>

                         ID_CE611998039 <select class ='form-control' name='ID_CE611998039'>
                            <option value=""> กรุณาเรียก </option>
                            <% if(data2) { %>
                            <% for(var i=0; i<data2.length; i++){ %>
                              <option value="<%= data2[i].id %>">
                                <%= data2[i].SCIT611998039 %>
                                </option>
                            <%}%>
                          <%}%>
                          </select><br></br>

                        <a href="/ce611998025" class="btn btn-primary"> กลับ </a>
                        <button type="submit"
                        class="btn btn-success">submit</button>
                        </form>

                </div>
            </div>
        </div>
</div>
<style>
  h1{
    position: relative;
    left: 30%;
    top: 20px;
  }
</style>
<%- include ("../../views/_footer") %>
