<%- include ("../../views/_header") %>
<h1>Delete information</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>

        <form action="/ce611998025/del/<%= data.id %>" method="POST">

            <div class="form-group">
                <h3><font color=#0000>ID = <%= data.winId%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>SCIT611998025 = <%= data.scit611998025%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>MIROT611998025 = <%= data.mirot611998025%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>SCIT611998032 = <%= data.scit611998032%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>SCIT611998039 = <%= data.scit611998039%></font></h3>
            </div>

            <a href="/ce611998025" class="btn btn-primary"> กลับ </a>
            <a href="/ce611998025/delete/<%= data.winId%>" class="btn btn-danger"> ลบ </a>
            </form>
    </div>
</div>
<style>
    h1{
      position: relative;
      left: 36%;
      top: 20px;
    }
  </style>
<%- include ("../../views/_footer") %>
