<%- include ("../../views/_header") %>
<h1>update information</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                        <form action="/ce611998032/update/<%= data1.id %>" method="POST">

                        <div class="form-group">
                        SCIT611998032 <input type="text"
                        name="SCIT611998032"
                        value="<%= data1.SCIT611998032 %>"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        MIROT611998032 <input type="text"
                        name="MIROT611998032"
                        value="<%= data1.MIROT611998032 %>"
                        class="form-control">
                        </div>



                        ID_CE611998039 <select class ='form-control' name='ID_CE611998039'>
                            <option value=""> กรุณาเรียก </option>
                            <% if(data2) { %>
                            <% for(var i=0; i<data2.length; i++){ %>
                              <option value="<%= data2[i].id %>"
                                <% if(data2[i].id==data1.ID_CE611998039) { %> selected <% } %> >
                                <%= data2[i].SCIT611998039 %>
                                </option>
                            <%}%>
                          <%}%>
                          </select><div class="row mt-3"> </div>

                        ID_CE611998018   <select class ='form-control' name='ID_CE611998018'>
                            <option value=""> กรุณาเรียก </option>
                            <% if(data3) { %>
                            <% for(var i=0; i<data3.length; i++){ %>
                              <option value="<%= data3[i].id %>"
                                <% if(data3[i].id==data1.ID_CE611998018) { %> selected <% } %> >
                                <%= data3[i].SCIT611998018 %>
                                </option>
                            <%}%>
                          <%}%>
                          </select><br></br>

                        <a href="/ce611998032" class="btn btn-primary"> กลับ </a>
                        <button type="submit"
                        class="btn btn-success">submit</button>
                        </form>

                </div>
            </div>
        </div>
</div>
<style>
  h1{
    position: relative;
    left: 30%;
    top: 20px;
  }
</style>
<%- include ("../../views/_footer") %>
