<%- include ("../../views/_header") %>

<h1>Delete information</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>

        <form action="/ce611998039/del/<%= data.wid %>" method="POST">

            <div class="form-group">
                <h3><font color=#0000>ID = <%= data.wid%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>SCIT611998039 = <%= data.wscit611998039%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>MIROT611998039 = <%= data.wmirot611998039%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>ID_CE611998018 = <%= data.tscit611998018%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>ID_CE611998025 = <%= data.cscit611998025%></font></h3>
            </div>

            <a href="/ce611998039" class="btn btn-primary"> Back </a>
            <a href="/ce611998039/delete/<%= data.wid%>" class="btn btn-danger"> ลบ </a>
            </form>
    </div>
</div>
<style>
    h1{
          position: relative;
          left: 36%;
          top: 20px;
    }
</style>
<%- include ("../../views/_footer") %>
