<%- include("../views/_header") %>

    <style>
        body {
            background-image: url('https://cdn.pixabay.com/photo/2017/06/19/14/43/watercolor-2419585_960_720.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        image {
            display: block;
            margin-left: auto;
            margin-left: auto;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
            margin-bottom: auto;
            width: 50%;
        }
    </style>

    <div>
        <img src="https://www.freepngimg.com/thumb/welcome/26792-3-welcome-transparent-picture.png" alt="wel" class="center">
    </div>

    <%- include ( '../views/_footer.ejs') %>
